spring:
    datasource:
      driver-class-name: com.mysql.jdbc.Driver
      username: root
      password: 123456
      url: jdbc:mysql://192.168.1.103/sell?characterEncoding=utf-8&useSSL=false
    jpa:
      show-sql: true
server:
  context-path: /sell